[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "==3.1.2"
numpy = "==1.17.4"
pillow = "==6.2.1"
pandas = "==0.25.3"

[requires]
python_version = "3.8"
